.loginPage {
    background-image: url('../images/img4.jpg') ;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.loginPage h1 {
    box-shadow: 0px 5px 5px gray;
    background-color: rgba(219, 225, 218, 1);
}

/* .formCard {
    border: 3px red solid;
    width: 100%;
    display: flex;
    justify-content: center;
} */

/* .loginForm {
    border: 1px red solid;
    margin-top: 5%;
    width: 30%;
    padding: 10%;
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    background-color: rgba(219, 225, 218, 0.9);
} */
/* 
.logForm input {
    border: 1px red solid;
    width: 100%;
    padding: 1% 0 1% 1% ;
    margin: 1% 0;
    border-top: none;
    border-right: none;
    border-left: 1px gray solid;
    border-bottom: 1px gray solid;
    border-top-right-radius: 5px;
} */

/* .logForm button {
    background-color: rgba(58, 105, 50, 0.7);
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    padding: 1% 2%;
    width: 45%;
    margin: 1%;
} */

/* .logForm button:hover {
    background-color: rgb(0, 0, 0);
    transition: .6s;
} */

/* .loginPage .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
} */