.NavBar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px gray;
}

.NavBar h1 {
    margin-left: 1%;
}


.linky, .logout {
    display: flex;
    align-items: center;
    width: 15%;
}

.logout {
    margin-right: 2%;
}

.linky button, .logout button {
    background-color: rgba(58, 105, 50, 0.7);
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
    padding: 5% 2%;
    width: 100%;

}

.linky button:hover, .logout button:hover {
    background-color: rgb(0, 0, 0);
    transition: .6s;
}