.regForm {
    background-image: url('../images/img4.jpg') ;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.regForm h1 {
    box-shadow: 0px 5px 5px gray;
    background-color: rgba(219, 225, 218, 1);
}

.formCard {
    /* border: 3px red solid; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.loginForm {
    /* border: 1px red solid; */
    margin-top: 5%;
    width: 30%;
    padding: 8% 10%;
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    background-color: rgba(219, 225, 218, 0.9);
}

.loginForm input {
    /* border: 1px red solid; */
    width: 100%;
    padding: 2% 0 2% 1% ;
    margin: 1% 0;
    border-top: none;
    border-right: none;
    border-left: 1px gray solid;
    border-bottom: 1px gray solid;
    border-top-right-radius: 5px;
}

.loginForm button {
    background-color: rgba(58, 105, 50, 0.7);
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    padding: 2% 1%;
    width: 40%;
    margin: 1%;
}

.loginForm button:hover {
    background:rgba(58, 105, 50, 1);
    transition: .6s;
}